In [4]:
#报错需要引入dask,使用命令 conda update dask
import skflow
import pandas as pd

In [6]:
train = pd.read_csv('./MNIST/train.csv')
test  = pd.read_csv('./MNIST/test.csv')

In [7]:
train.shape

(42000, 785)

In [8]:
test.shape

(28000, 784)

In [10]:
train.head(2)

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
test.head(2)

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
#将train中的label和数据特征分离
Y_train = train['label']
X_train = train.drop('label',axis=1)

In [16]:
Y_train.value_counts()

1    4684
7    4401
3    4351
9    4188
2    4177
6    4137
0    4132
4    4072
8    4063
5    3795
Name: label, dtype: int64

In [17]:
X_test = test

### 引入tensorflow和skflow

In [18]:
import tensorflow as tf
import skflow

#### 使用skflow中基于tensorflow的线性分类器TensorFlowLinearClassifier进行学习预测

In [22]:
classifier = skflow.TensorFlowLinearClassifier(n_classes=10,batch_size=100,steps=100,learning_rate=0.01)
tf.histogram_summary = tf.summary.histogram

In [24]:
#classifier.fit(X_train,Y_train)